.mainSection {
  display: flex;
}

.mainLeft {
  flex: 80%;
}

.mainRight {
  flex: 20%;
}

.weAreBox {
  display: block;
  padding: 2em;
  font-size: 3ch;
  text-align: center;
}

.discoverBtn {
  display: block;
  font-size: 0.5em;
  height: auto;
  width: max-content;
  margin: 2em auto;
  padding: 6px;
  border: 1px solid black;
  background: none;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.weDoBox {
  font-size: 2ch;
  background: rgb(244, 245, 247);
  padding: 3em;
  border-radius: 10px;
}

.meetupBox {
  margin: 1em auto;
}

.meetupBox > h2 {
  text-align: center;
}

.meetupBoxCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.meetupBoxCard > div {
  height: 350px;
  width: 300px;
  max-width: 350px;
  background-color: rgb(244, 245, 247);
  border-radius: 10px;
}

.empathyCard > h1 {
  text-align: center;
}

.empathyCard {
  font-size: 2ch;
  padding: 2em 3em;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}