.footerContainer {
  margin: auto;
  width: 85%;
  background-color: #f3f5f7;
  height: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  height: 500px;
  width: 500px;
}

