.serviceCardImg > img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.serviceCardContent {
  padding: 1rem;
}

.button {
  background-color: black;
  width: 40%;
  height: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > a {
  color: white;
  text-decoration: none;
}

.seeYou {
    text-align: center;
    padding: 1rem;
}
